.game-main-box {
    display: flex;
    flex-direction: column;
    gap: 224px;
    padding: 0px 48px;
    height: 800px;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.header-btn {
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}



.game-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.example-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.example-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.example-input {
    width: 60px;
    height: 24px;
}

.example-sign {
    font-size: 18px;
}

.example-result-box {
    display: flex;
    gap: 6px;
}